.widgetSmall {
    flex: 1;
    -webkit-box-shadow: 0px 0px 12px -1px #000000;
    box-shadow: 0px 0px 12px -1px #000000be;
    padding: 20px;
    margin-right: 20px;
}

.widgetSmList {
    list-style: none;
    margin: 0;
    padding: 0;
}


.widgetSmTitle {
    font-size: 32px;
    font-weight: 600;
}

.widgetSmimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;

}

.widgetSmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
}

.widgetSmUsername {
    font-weight: 600;

}

.widgetSmUserJobTitle {
    font-weight: 300;
}

.widgetSmBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: #8482a175;
    color: rgb(94, 68, 68);
}

.widgetSmIcon {
    font-size: 16px;
    margin-right: 5px;
}