.sidebar {
    flex: 1;
    height: calc(100% - 50px);
    background: rgb(224, 224, 238);
    position: sticky;
    top: 50px;



}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 13px;
    color: rgba(65, 42, 33, 0.986);
}

.sidebarList {
    list-style: none;
    padding: 5px;


}

.sidebarListItem {
    display: flex;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;

}

.sidebarIcon {
    margin-right: 5px !important;
    font-size: 20px !important;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background: rgb(206, 206, 245);
}